{% extends 'base.html.twig' %}

{% block title %}Hello ECF{% endblock %}

{% block body %}

<div class="card mt-3">
  <div class="card-body">
    <div class="row">
        <div class="col-md-5">
            <img class="image" src="">
        </div>
        <div class="col-md-7">
            <h1 class="card-header text-light text-center font-weight-bold"></h1>
                <div class="card-body">
                    <h5 class="card-title text-center" style="background-color:white"></h5>
                    <p class="card-text" style="background-color:white"></p>
                    <a href="" class="btn btn-danger">En savoir plus</a>
                </div>
        </div>

    </div>
  </div>
</div>

{% endblock %}
